<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="shortcut icon" type="image/ico" href="~/Assets/Admin/img/ismart.ico" />
    {{-- Style --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/solid.min.css">
    <link rel="stylesheet" href="~/Assets/Admin/style.css">
    <!-- Toastr thư viện thông báo  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <title>Trang quản trị</title>
</head>

<body>
    <div id="warpper" class="nav-fixed">
        <nav class="topnav shadow navbar-light bg-white d-flex">
            <div class="navbar-brand"><a href="dashboard.html">TRANG QUẢN TRỊ</a></div>
            <div class="nav-right ">
                <div class="btn-group mr-auto">
                    <button type="button" class="btn dropdown" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        <i class="plus-icon fas fa-plus-circle"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Thêm nhật ký</a>
                        <a class="dropdown-item" href="">Thêm công nhân</a>
                        <a class="dropdown-item" href="">Thêm công việc</a>
                        <a class="dropdown-item" href="">Thêm sản phẩm</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        ADMIN
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Tài khoản</a>
                        <a class="dropdown-item" href="{{ route('logout') }}" onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();">
                            Đăng xuất
                        </a>
                        <form id="logout-form" action="{{ route('logout') }}" method="POST" class="d-none">
                            @*@csrf*@
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div id="page-body" class="d-flex">
            <div id="sidebar" class="bg-white">
                <ul id="sidebar-menu">
                    <li class="nav-link active">
                        <a href="dashboard.html">
                            <div class="nav-link-icon d-inline-flex">
                                <i class="fa fa-home"></i>
                            </div>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="diary.html">
                            <div class="nav-link-icon d-inline-flex">
                                <i class="fas fa-edit"></i>
                            </div>
                            Nhật ký
                        </a>
                        <i class="arrow fas fa-angle-right"></i>
                        <ul class="sub-menu">
                            <li><a href="newDiary.html">Thêm mới</a></li>
                            <li><a href="diary.html">Danh sách</a></li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <a href="~/Admin/Work/Index">
                            <div class="nav-link-icon d-inline-flex">
                                <i class="far fa-bookmark"></i>
                            </div>
                            Công việc
                        </a>
                        <i class="arrow fas fa-angle-right"></i>
                        <ul class="sub-menu">
                            <li><a href="">Thêm mới</a></li>
                            <li><a href="">Danh sách</a></li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <a href="~/Admin/Product/Index">
                            <div class="nav-link-icon d-inline-flex">
                                <i class="fas fa-box-open"></i>
                            </div>
                            Sản phẩm
                        </a>
                        <i class="arrow fas fa-angle-right"></i>
                        <ul class="sub-menu">
                            <li><a href="">Thêm mới</a></li>
                            <li><a href="">Danh sách</a></li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <a href="~/Admin/Employee/Index">
                            <div class="nav-link-icon d-inline-flex">
                                <i class="fa fa-user"></i>
                            </div>
                            Công nhân
                        </a>
                        <i class="arrow fas fa-angle-right"></i>
                        <ul class="sub-menu">
                            <li><a href="">Thêm mới</a></li>
                            <li><a href="">Danh sách</a></li>
                        </ul>
                    </li>
                    <li class="nav-link">
                        <a href="">
                            <div class="nav-link-icon d-inline-flex">
                                <i class="fas fa-chart-line"></i>
                            </div>
                            Thống kê
                        </a>
                    </li>
                </ul>
            </div>
            <div id="wp-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Toastr thư viện thông báo  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>

</html>