
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Thông tin nhật ký</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="title">
                                <i class="fas fa-barcode text-primary mr-1"></i>
                                <strong>Ngày thực hiện</strong>
                            </div>
                            <div class="content mt-2">
                                21/10/2021
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="title">
                                <i class="fas fa-cash-register text-primary mr-1"></i>
                                <strong>Ca làm</strong>
                            </div>
                            <div class="content mt-2">
                                6h - 14h
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Danh sách công nhân làm việc</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-checkall">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã công nhân</th>
                                <th scope="col">Tên công nhân</th>
                                <th scope="col">Thời gian bắt đầu</th>
                                <th scope="col">Thời gian kết thúc</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>1</td>
                                <td>Trần Đức Huy</td>
                                <td>7h</td>
                                <td>14h</td>
                                <td>
                                    <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                                       data-toggle="modal" data-placement="top" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>2</td>
                                <td>Nguyễn Thị Linh</td>
                                <td>6h</td>
                                <td>14h</td>
                                <td>
                                    <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                                       data-toggle="modal" data-placement="top" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">1</td>
                                <td>3</td>
                                <td>Hoàng Văn Hải</td>
                                <td>6h</td>
                                <td>14h</td>
                                <td>
                                    <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                                       data-toggle="modal" data-placement="top" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Danh sách công việc đã làm</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-checkall">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Tên công việc</th>
                                <th scope="col">Sản lượng thực tế</th>
                                <th scope="col">Số lô sản phẩm</th>
                                <th scope="col">Sản phẩm</th>
                                <th scope="col">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">1</td>
                                <td>Đóng gói</td>
                                <td>100</td>
                                <td>1</td>
                                <td>Mỳ tôm</td>
                                <td>
                                    <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                                       data-toggle="modal" data-placement="top" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">2</td>
                                <td>Đóng gói</td>
                                <td>100</td>
                                <td>1</td>
                                <td>Mỳ tôm</td>
                                <td>
                                    <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                                       data-toggle="modal" data-placement="top" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">3</td>
                                <td>Đóng gói</td>
                                <td>100</td>
                                <td>1</td>
                                <td>Mỳ tôm</td>
                                <td>
                                    <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                                       data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                                       data-toggle="modal" data-placement="top" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

