
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-5">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;height: 91.5%;">
                <div class="card-header">SỐ LƯỢNG NHẬT KÝ</div>
                <div class="card-body">
                    <h5 class="card-title">100</h5>
                    <p class="card-text">Nhật ký sản lượng khoán</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem;height: 91.5%;">
                <div class="card-header">SỐ LƯỢNG CÔNG NHÂN</div>
                <div class="card-body">
                    <h5 class="card-title">10</h5>
                    <p class="card-text">Công nhân</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;height: 91.5%;">
                <div class="card-header">SỐ LƯỢNG SẢN PHẨM</div>
                <div class="card-body">
                    <h5 class="card-title">10</h5>
                    <p class="card-text">Sản phẩm</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;height: 91.5%;">
                <div class="card-header">CÔNG VIỆC HOÀN THÀNH</div>
                <div class="card-body">
                    <h5 class="card-title">50</h5>
                    <p class="card-text">Công việc đã hoàn thành</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end analytic  -->
    <div class="card">
        <div class="card-header font-weight-bold">
            Nhật ký gần đây
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Ngày thực hiện</th>
                        <th scope="col">Ca làm</th>
                        <th scope="col">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>21/10/2021</td>
                        <td>6h-14h</td>
                        <td>
                            <a href="" class="btn btn-success btn-sm rounded-0 text-white" type="button"
                               data-toggle="tooltip" data-placement="top" title="Chi tiết">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="" class="btn btn-danger btn-sm rounded-0 text-white" type="button"
                               data-toggle="modal" data-placement="top" title="Xóa">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

