
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="container-fluid">
    <div class="card">
        <div class="card-header font-weight-bold d-flex justify-content-between align-items-center"
             style="box-sizing: border-box">
            <h5 class="m-0 ">THÔNG TIN CÁ NHÂN</h5>
            <div class="form-inline">
                <form action="">
                    <button type="submit" class="btn btn-success">CHECK IN</button>
                    <button type="submit" class="btn btn-success">CHECK OUT</button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped table-checkall">
                <thead>
                    <tr>
                        <th scope="rowgroup">Mã công nhân</th>
                        <th scope="rowgroup">Tên công nhân</th>
                        <th scope="row">Phòng Ban</th>
                        <th scope="row">Chức vụ</th>
                        <th scope="row">Giới tính</th>
                        <th scope="row">Ngày sinh</th>
                        <th scope="row">Quên quán</th>
                        <th scope="row">Căn cước công dân</th>
                        <th scope="row">Lương cơ bản</th>
                        <th scope="row">Hệ số lương</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Trần Đức Huy</td>
                        <td>Nhân Sự</td>
                        <td>Công nhân</td>
                        <td>nam</td>
                        <td>14/02/1998</td>
                        <td>Hà Nội</td>
                        <td>123456778912</td>
                        <td>30000000</td>
                        <td>1.25</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

